* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#plex-logo {
    width: auto;
    height: 1.5rem;
}

.main-wrapper {
    background-image: url('./images/hero.png');
    background-position: center center;
    background-size: cover;
    height: auto;
    min-height: 97vh;
    background-repeat: no-repeat;

}

.nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.474);
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    position: relative;
    top: 9px;
    margin: 0 0.3rem;

}

.search-form input {
    border-radius: 2.5rem;
    padding: 0.5rem 1rem;
    background-color: rgba(96, 85, 85, 0.353);
    border-style: none;
    width: 23rem;
}

.search-form input::placeholder {
    color: rgb(195, 186, 186);

}

.nav-options {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;

}

.nav-options>li>a {
    text-decoration: none;
    color: rgb(196, 193, 193);
    font-size: 0.9rem;
    font-weight: 650;
}

.nav-options>li>a:hover {
    transition: 0.35s ease;
    color: white;
}

#nav-signup-btn {
    background-color: rgb(232, 154, 11);
    color: rgb(30, 30, 30);
    border-radius: 3px;
    padding: 2px 12px;
}

#nav-signup-btn:hover {
    transition: 0.2s ease;
    background-color: orange;
}

.hero {
    color: white;
    width: 50%;
    padding: 7.5rem 1rem 1rem 5rem;
}

.hero>h1 {
    font-size: 3.2rem;
    font-weight: 650;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.hero>p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}


.buttons {
    background-color: orange;
    color: white;
    padding: 1rem 2.1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1.5rem;
}

.buttons:hover {
    transition: 0.3s ease;
    background-color: rgb(236, 157, 11);
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 80px;
    /* gap: 1rem; */
}

.feature {
    padding: 0 1rem 2rem;
    width: 25%;
    text-align: left;
}

.feature>p {
    padding-top: 15px;
}

.feature>img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.discover {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(131, 8, 232);
}

.text-content {
    width: 44%;
    padding: 5rem;
    color: white;
}

.text-content>h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}

.text-content>p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1.7rem;
}

.text-content a {
    display: inline-block;
    margin-top: 2rem;
}

.visual {
    padding: 5rem 3.71rem;
    width: 56%;
}

.visual>img {
    width: 100%;
    height: auto;
}

.watch-free {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 239, 239);
}


.watch-visual {
    padding: 5rem;
    width: 50%;

}

.watch-visual>img {
    width: 100%;
}

.watch-text-content {
    padding: 5rem;
    width: 50%;
}

.watch-text-content>h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}

.watch-text-content>p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(74, 72, 72);
    padding-top: 1.4rem;
    word-spacing: 0.1rem;
}

.watch-text-content>a {
    display: inline-block;
    margin-top: 1.5rem;
}

.playing-now {
    margin: 1rem;
}

.playing-now>h2 {
    color: rgb(41, 40, 40);
    padding: 3rem 3rem 0rem 2rem;
    font-size: 2.3rem;
    text-align: center;
}

.card-info>h3 {
    font-weight: 400;
    font-size: 1rem;
}

.card-info>p {
    color: rgb(118, 109, 109);
}

.carousel-wrapping {
    padding: 15px 0;
}

.scroll-btn {
    display: flex;
    justify-content: end;
    padding-right: 1.5rem;
}

.carousel-btn {
    padding: 0 0.7rem;
    border-style: none;
    background-color: white;
    color: rgb(79, 76, 76);
    font-size: 1.5rem;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    scrollbar-width: none;
    padding: 2rem;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 12rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 0.6rem;
}

.card:hover {
    transform: scale(1.04);
}

.carousel-bottom-btn {
    text-align: center;
    padding: 3rem;
}

.tv-carousel {
    /* margin: 1rem; */
    background-color: rgb(215, 223, 231);
}

.tv-carousel>h2 {
    color: rgb(41, 40, 40);
    padding: 4rem 3rem 0rem 2rem;
    font-size: 2.3rem;
    text-align: center;
}

.tv-carousel>p {
    color: rgb(58, 57, 57);
    font-size: 1.2rem;
    text-align: center;
    padding: 1.8rem 1.8rem 0.4rem;
}

.tv-carousel-wrapping {
    padding: 1rem 3rem;

}

.tv-carousel-btn>button {
    background-color: rgb(215, 223, 231);
}

.tv-card-info>h3 {
    font-size: 1rem;
    font-weight: 450;
    color: rgb(58, 57, 57);
}

.carousel-tv {
    display: flex;
    gap: 1.3rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 1.5rem 2rem;
}

.tv-card {
    min-width: 17rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.tv-card:hover {
    transform: scale(1.04);
}

.tv-card img {
    width: 100%;
    border-radius: 0.6rem;
}

.compatible-features {
    display: flex;
    align-items: center;
    gap: 5rem;
    text-align: left;
}

.left-content {
    width: 32%;
    padding: 5rem;
}

.right-content {
    width: 68%;
    padding: 5rem;
}

.right-content img {
    width: 100%;
    height: auto;
}

.left-content img {
    width: 100%;
    margin: 2.5rem 0;
}

.left-content h2 {
    font-size: 2.5rem;
    color: rgb(44, 43, 43);
}

.left-content p {
    font-size: 1rem;
    color: rgb(94, 91, 91);
    padding-top: 2.25rem;
}

.left-buttons>a {
    display: inline-block;
    margin-top: 1rem;
}

.partners {
    background-color: rgb(239, 246, 251);
    padding: 3.5rem 5rem;
}

.partners-top {
    text-align: center;
    padding-bottom: 4rem;
    font-size: 1.5rem;
    color: rgb(25, 25, 25);
}

.partners-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.partner {
    width: 8.2%;
    height: auto;
    padding-bottom: 1.8rem;
}

.partner img {
    width: 100%;
    border-radius: 0.4rem;
}

.footer-container {
    background-color: #262525;
    padding: 3.7rem 5rem;
}

.footer-top {
    display: flex;
    justify-content: flex-start;
}

.footer-logo {
    width: 9%;
    margin-right: 3rem;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 10rem;
    margin-left: 8.5rem;
    gap: 1.5rem;
}

.foot-heading {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-column>ul {
    list-style-type: none;
    padding-top: 0.5rem;
}

.footer-column>ul>li {
    padding-top: 0.6rem;
}

.footer-column>ul>li>a {
    text-decoration: none;
    color: rgba(163, 154, 154, 0.919);
    font-size: 0.9rem;
}

.foot-heading:hover,
.footer-column>ul>li>a:hover {
    color: rgb(230, 121, 38);
    transition: 0.3s ease;
}

.seperation {
    width: 100%;
    /* color: wheat; */
    background-color: #3d3c3c;
    padding: 0.2px 0
}

.footer-left {
    color: rgba(164, 156, 156, 0.919);
    font-size: 0.8rem;
}

.footer-left>a,
.footer-left>span>a {
    text-decoration: none;
    font-size: 0.8rem;
    color: rgba(164, 156, 156, 0.919);
    padding-left: 0.7rem;
}

.footer-left>a:hover,
.footer-left>span>a:hover {
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(230, 121, 38);
}

.footer-left>span {
    padding-left: 0.5rem;
}

.footer-bottom {
    background-color: #262525;
    padding: 2.7rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right>a {
    text-decoration: none;
    padding: 0 0.25rem;
}

.footer-right>a>svg {
    width: 28px;
    height: 28px;
    fill: #817c7c;
    transition: fill 0.3s ease;
    transition: transform 0.4s;
}

.insta-icon:hover svg {
    fill: rgb(248, 13, 13);
    transform: scale(1.02);
}

.tiktok-icon:hover svg {
    fill: rgb(0, 247, 255);
    transform: scale(1.02);
}

.twitter-icon:hover svg {
    fill: rgb(228, 235, 235);
    transform: scale(1.02);
}

.bluesky-icon:hover svg {
    fill: rgb(75, 110, 205);
    transform: scale(1.02);
}

.facebook-icon:hover svg {
    fill: rgba(19, 68, 203, 0.764);
    transform: scale(1.02);
}

.linkedin-icon:hover svg {
    fill: rgb(46, 118, 218);
    transform: scale(1.02);
}

.youtube-icon:hover svg {
    fill: rgb(184, 7, 7);
    transform: scale(1.02);
}